.app-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100vw;
  font-family: Roboto;
}

.notification-cards-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
}

.heading {
  color: #0f172a;
}
